RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-f

Options -Indexes

ErrorDocument 404 https://localhost/medi-testing/404
ErrorDocument 403 https://localhost/medi-testing/404

ReWriteRule ^([/]?)$ pages/home.php [NC,L]

ReWriteRule ^([^/]+)/?$ pages/$1.php [NC,L]

RewriteRule ^about$ pages/about.php [NC,L]

RewriteRule ^service$ pages/service.php [NC,L]

RewriteRule ^policy$ pages/policy.php [NC,L]
